<style>
    .message-content{
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 24px;
    }
</style>

<div class = "message-content">
    <p> Hello {{name}}</p>
    <br />
    <p>We receipt a reset password request for your user account</p>
    <p>If it was really you, click in the link bellow to choose your new password</p>
    <p>
    <a href="{{link}}">Reset my password</a>
    </p>
    <p>If you have not completed this request, just discard this email</p>
    <p>Thank you</p>
    <p>Car Renting Group.</p>
</div>